.shareText {
    font-size: small !important;
    color: rgba(0,0,0,0.7)
}

.accordion {
    background: rgba(100,100,100,0.1) !important;
    margin-bottom: 1rem !important;
}

.accordionSummary {
    margin-right: -1rem !important;
}

.mainTextAndButtons{
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.shareButtons {
    justify-content: center !important;
    width: 100% !important;
}

.copyButton {
    padding: 0 !important;
    margin-top: -6px !important;
}