.trackContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 36px;
    margin-bottom: 36px;

    * {
        line-height: 100%
    }
}

.albumImageAndPlayButtonContainer {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trackImageContainer {
    position: relative !important;
}

.trackImage {
    width: 100%;
}

.explicitContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color:transparentize($color: #5271FF, $amount: 0.6);
    font-size: clamp(0.5rem, 2vw, 1rem);
    height: clamp(0.8rem, 3vw, 2rem);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playButton {
    margin: 0.4rem auto !important;
    background-color: #5271FF !important;
    color: #fff !important;
    font-family: 'Genuine' !important;
    padding: .4rem .6rem !important;
    border-radius: 5rem !important;
    font-size: small !important;
}

.trackInfo {
    flex: 0.7;
    margin-left: 16px;
}

.trackName {
    color: #E3EBEF !important;
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: 'Genuine';
    text-transform: uppercase;
    line-height: 100%;
}

.trackAlbumName {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    color: transparentize($color: #E3EBEF, $amount: 0.2);
    margin-top: 8px;
}

.artistsName {
    font-size: clamp(0.7rem, 2vw, 1.6rem);
    color: transparentize($color: #E3EBEF, $amount: 0.3);
    margin-top: 4px;
}

@media (min-width: 768px) {
    .trackImageContainer {
        flex: 1;
    }

    .trackInfo {
        flex: 1;
    }

    .playButtonAboveMobile {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
        background-color: #5271FF !important;
        color: #fff !important;
        font-family: 'Genuine' !important;
        padding: .4rem .6rem !important;
        border-radius: 5rem !important;
        font-size: medium !important;
    }
}