.heading {
    color: #168BC4 !important;
    line-height: normal !important;
}

.h1 {
    font-size: 2rem !important;
}

.h2 {
    font-size: 1.8rem !important;
}

.h3 {
    font-size: 1.6rem !important; 
}

.h4 {
    font-size: 1.4rem !important;
}

.h5 {
    font-size: 1.2rem !important;
}

.h6 {
    font-size: 1rem !important;
}