.root {
    margin: 1rem auto;
}

.tHead {
    background: black !important;
    color: #E3EBEF;

    .th {
        padding: 1em !important;
        font-family: 'Genuine';
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.tBody {
    .tRow {
        background-color: #E3EBEF;
    }

    .tRow:nth-of-type(even) {
        background-color: #cee0e9;
    }
}

