.imagesContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.noImagesText {
    text-align: center !important;
}

.progress {
    color: #168BC4 !important;
}