.card {
    background-color: #E3EBEF !important;
    margin: 1rem 0 !important;
}

.cardHeader {
    background-color: #FFD52C !important;
    margin: 0 !important;
    text-align: center;
    font-family: 'Genuine' !important;
    text-transform: uppercase !important;
}

.cardComponent {
    padding: 0 !important;
}

.listItem {
    padding: 0.4rem !important;
}

.listItemText > span{
    font-family: 'Genuine' !important;
}

.error {
    padding: 2rem 1rem;
    text-align: center;
    color: rgb(245, 58, 58);
}

@media(min-width: 769px) {
    .card {
        margin-top: -1em !important;
    }
}