.sectionHeaderContainer {
    margin: 40px auto;
}

.sectionHeader {
    text-align: center !important;
    font-size: clamp(1.5rem, 4vw ,3rem) !important;
    text-transform: uppercase !important;
    color: #E3EBEF !important;
    border-bottom: 1px solid #E3EBEF;
    width: fit-content;
    margin: 0 auto !important;
}