.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 0 auto !important;
    text-transform: uppercase;
}

.form {
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    max-width: 400px;
}

.messageInput textarea{
    height: 100px !important;
}

.messageInput {
    background-color: rgb(29, 29, 29);
}

.button {
    background: #FFD52C !important;
    color: #000 !important;
    font-weight: bold !important;
}

.buttonDisabled {
    background: #8fb4c7 !important;
    color: #0e0e0e !important;
    font-weight: bold !important;
}

.buttonProgress {
    margin-left: 1em !important;
    color: #0e0e0e !important
}

.icon {
    color: #168BC4 !important
}

.sentMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.sentText {
    margin: 1rem 0 !important;
}

.errorMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorText {
    margin: 1rem 0 !important;
}

.sendAgainButton {
    color: #FFD52C !important;
    border-color: #FFD52C !important;
    font-weight: bold !important;
}
