.albumsSection {
    margin: 80px auto;
}

.albumsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imgContainer {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.albumImage {
    width: 100%;
    margin-bottom: 1rem;
    filter: drop-shadow(0px 8px 64px rgba(0, 0, 0, 0.4));
}

@media (max-width: 767px) {
    .albumsContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}