.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 0.4rem;
    max-width: 320px;
    background: #E3EBEF !important;
}

.header * {
    font-size: medium !important;
}

.media {
    height: 0;
    padding-top: 52%;
}

.description {
    font-size: small !important;
}

.addButton {
    position: fixed !important;
    bottom: 2rem !important;
    right: 2rem !important;
    z-index: 9999 !important;
    background-color: #168BC4 !important;
    color: #E3EBEF !important;

}

.addButton > * {
    font-family: 'Genuine' !important; 
    font-size: medium !important;
}

.addIcon {
    margin-left: 0.5rem !important;
}

@media (min-width: 769px) {
    .root {
        max-width: 30%;
    }
}