.backdrop {
    z-index: 999 !important;
    color: #fff !important
}

.form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.leftAside, .rightAside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.thumbnailContainer {
    width: 100%;
    max-width: 400px;
    
    .thumbnail {
        width: 100%;
        height: 100%;
        max-height: 280px !important;
    }
}

.button {
    width: 100%;
    background: #168BC4 !important;
    color: #E3EBEF !important;
    font-weight: bold !important;
}

.buttonDisabled {
    background: #8fb4c7 !important;
    color: #0e0e0e !important;
    font-weight: bold !important;
}

.buttonProgress {
    margin-left: 1em !important;
    color: #0e0e0e !important
}

.icon {
    color: #168BC4 !important
}

.badge > *{
    right: -1em !important;    
    background-color: #105475 !important 
}

@media(min-width:767px) {
    .form {
        flex-direction: row;
        justify-content: space-between;
    }

    .leftAside {
        flex: 6.5;
    }

    .rightAside {
        flex: 3.5;

        .thumbnail {
            max-height: 180px !important;
        }
    }
}