.backdrop {
    z-index: 999 !important;
    color: #fff !important
}

.form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
}

.button {
    background: #168BC4 !important;
    color: #E3EBEF !important;
    font-weight: bold !important;
}

.buttonDisabled {
    background: #8fb4c7 !important;
    color: #0e0e0e !important;
    font-weight: bold !important;
}

.buttonProgress {
    margin-left: 1em !important;
    color: #0e0e0e !important
}

.emailSentContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.checkIcon {
    color: green !important;
    font-size: 2.5rem !important;
    margin: 1rem 0 !important;
}

.emailSentText {
    color: #E3EBEF !important;
    font-size: 1.2rem !important;
    margin-bottom: 1rem !important;
    text-align: center !important;
}
