.navbarContainer {
    background-color: #E3EBEF;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.menuButton {
    justify-self: right;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 48px;
}

.logo {
    width: 100%;
}

.buttonGroup {
    align-items: center;
}

.logoutButton {
    color: #168BC4 !important;
    border-color: #168BC4 !important;
    font-weight: bold !important;
    max-height: 2rem !important;
}