.hero {
    margin: 16px auto;
}

.heroContainer {
    min-height: calc(100vh - 84px);
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.header {
    color: #E3EBEF;
    font-size: clamp(5rem, 10vw, 9rem);
    line-height: 80%;
    text-align: center;
    margin: 16px auto !important;
}

.image {
    width: 100%;
}

.socialHeader {
    text-align: center;
    font-size: x-large !important;
}

@media(min-width: 767px) {
    .heroContainer {
        min-height: auto;
        flex-direction: row !important;
        padding-top: 40px;
        margin-bottom: 80px;
    }

    .headerContainer {
        flex: 0.4 !important;
        align-self: flex-start;

        .header {
            text-align: left;
            margin: 40px auto;
            line-height: 90%;
        }
    }

    .imageContainer {
        flex: 0.6 !important;
        width: min-content;
    }

    .socialHeader {
        text-align: left;
        margin-left: 1rem !important;
    }
}

