.menuButton {
    border: none !important;
    outline: none !important;
    padding: 8px !important;
    background: transparent !important;
    cursor: pointer;

    .menuIcon {
        color: #5271FF;
        font-size: x-large;
    }
}