.titleContainer {
    background-color: #168BC4;
    width: 100%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(2rem, 4vw, 3rem) !important;
    line-height: normal !important;
    padding: 3rem 0 !important;
    margin: 0 auto !important;
    max-width: 600px;
}
