.root {
    width: 100%;
    max-width: 360px;
    margin: 0.4em;
    background-color: #E3EBEF !important;
}

.header > div > span {
    font-size: small !important;
    font-family: unset !important;
}

.media {
    height: 0;
    padding-top: 56.25%;
    cursor: pointer;
}

.button, .icon {
    color: #168BC4 !important;
    border-color: #168BC4 !important;
    font-weight: bold !important;
}

.buttonProgress {
    margin-left: 1em !important;
    color: #168BC4 !important
}

.deleteButton {
    margin-left: auto !important;
}

@media (min-width: 426px) {
    .root {
        width: 30%;
    }
}
