.drawer {
    z-index: 999999 !important;
}

.nav {
    margin: auto !important;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 0 40px;
}

.list {
    min-width: 50vh !important;
}

.button {
    padding: 2em 0 !important;
}

.text {
    margin: 0 auto;
    font-family: 'Genuine';
    color: #168BC4;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: xx-large;
}

.socialIcons {
    margin: 40px auto;
    margin-top: 0;
}