.blogHeader {
    max-width: 400px;
    margin: 0 auto;
}

.thumbnailContainer {
    width: 100%;
    min-width: 200px;
    margin: 0 auto;

    .thumbnail {
        width: 100%;
        margin-top: -1em;
    }
}

.optionsBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    width: 1rem !important;
    height: 1rem !important;
    color: #3e3b4e !important;
}

