.aboutSection {
    background: #E3EBEF;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    z-index: -999;
}

.headerContainer {
    margin: 40px auto;
}

.header {
    text-align: center;
    font-size: clamp(2rem, 4vw ,3rem) !important;
    text-transform: uppercase !important;
    color: #168BC4 !important;
    border-bottom: 1px solid #168BC4;
    width: fit-content;
    margin: 0 auto !important;
    -webkit-text-fill-color: #E3EBEF !important;
    -webkit-text-stroke-width: clamp(0.08rem, 0.2vw, 0.1rem);
    -webkit-text-stroke-color: #168BC4;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer,
.textContainerLeft,
.textContainerRight {
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: black;
    padding-top: 24px;
}

.imgContainer {
    flex: 1;
    padding: 28px;

    .image {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .aboutSection {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .aboutContainer {
        flex-direction: row;
        padding: 0 40px;
    }

    .imgContainer {
        flex: 0.4;
    }



    .textContainerLeft,
    .textContainerRight {
        flex: 0.6;
        padding: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .textContainerLeft {
        padding-left: 80px;
    }
    
    .textContainerRight {
        padding-right: 80px;
    }
}