.footer {
    background: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem; 
    padding: 16px;
    height: 620px;
}

.footerContainer {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.footerInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.logoContainer {
    width: clamp(5rem, 15% ,10rem);
    margin: 0 auto;
}

.logo {
    width: 100%;
}

.socials {
    margin: 0 auto;
}

.copyrightText {
    font-size: clamp(1rem, 3vw, 2rem) !important;
    text-align: center !important;
    color: #E3EBEF !important;
}

.copyrightSymbol {
    font-family: Lato;
}

@media (min-width: 768px) {

    .footer {
        height: 510px;
    }

    .footerInfo {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}