

.albumInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumName {
    text-align: center;
    color: #E3EBEF !important;
    font-size: clamp(1.4rem, 3.8vw ,2.6rem) !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

.artistsName {
    text-align: center;
    color: transparentize($color: #E3EBEF, $amount: 0.2);
    font-size: clamp(1.2rem, 3.4vw ,2rem) !important;
}

.totalTracks {
    text-align: center;
    color: transparentize($color: #E3EBEF, $amount: 0.4);
    font-size: clamp(1rem, 2.8vw, 1.8rem);
    margin-top: clamp(4px, 3vw, 16px);
}

.playButton {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    background-color: #5271FF !important;
    color: #fff !important;
    font-family: 'Genuine' !important;
    padding: .4rem .6rem !important;
    border-radius: 5rem !important;
    font-size: medium !important;
}

@media(min-width: 768px) {
    .albumContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .albumInfo {
        align-items: flex-start;
        margin-left: 40px;

        * {
            text-align: start;
        }
    }

    .playButton  {
        padding: 0.5rem 1.2rem !important ;
        font-size: large !important;
    }

}