.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding-right: 0.8rem;
    max-width: 400px;
    gap: 1em;
}

.logoContainer {
    max-width: 60px;
}

.logo {
    width: 100%;
}

.headerText {
    font-size: 2rem !important;
}

@media (min-width: 767px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}