.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}

.altText {
    font-size: small;
    text-align: center;
    color: rgba(0,0,0,0.5);
    margin-top: -0.8rem;
}