.container {
    background-color: #E3EBEF !important;
    padding-bottom: 2rem !important;
    height: 100%;
}

@media(min-width: 769px) {
    .body {
        display: flex !important;
    }

    .content {
        flex: 6;
    }

    .recentBlogs {
        flex: 4;
    }
}