.light {
    margin: 2rem 0;
    height: 2px;
    width: 100vw;
    background: linear-gradient(33deg,#E3EBEF, #168BC4, #E3EBEF);
}

.dark {
    margin: 2rem 0;
    height: 2px;
    width: 100vw;
    background: linear-gradient(33deg,#000, #168BC4, #000);
}
