.root {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #E3EBEF !important;
    position: relative;
}

.image {
    height: 0;
    padding-top: 56.25%;
    cursor: pointer;
}

.uploadButton, .buttonDisabled {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content !important;
    font-weight: bold !important;
}

.uploadButton {
    background: #168BC4 !important;
    color: #E3EBEF !important;
}

.buttonDisabled {
    background: #8fb4c7 !important;
    color: #0e0e0e !important;
}

.buttonProgress {
    color: #0e0e0e !important
}