.MuiInputBase-root {
    color: #168BC4 !important;
}

.MuiInputBase-root input{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.MuiFormLabel-root:not(.Mui-focused) {
    color: #E3EBEF !important;
}

.MuiFormLabel-root {
    color: #168BC4 !important
}

.MuiInput-underline::before {
    border-bottom-color: #E3EBEF !important
}

.MuiInput-underline::after {
    border-bottom-color: #168BC4 !important
}