@font-face{
    font-family: "Genuine";
    src: url("/fonts/Genuine.ttf") format("truetype");
}

:root{
    --royal-blue: #5271FF;
    --vivid-yellow: #FFD52C;
    --blue-white: #E3EBEF;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    overflow-x: hidden !important;
}

body {
    background: black;
    background-attachment: fixed;
    color: #E3EBEF;
}

main {
    position: relative;
    min-height: 100vh;
    padding-bottom: 620px;
}

h1, h2, h3, h4, h5, h6,
.MuiTypography-h5 {
    font-family: 'Genuine' !important;
}

.spotifyIcon {
    color: #1DB954
}

.MuiDrawer-paper {
    background-color: #000 !important;
    width: 100%;
    max-width: 500px;
    max-height: 800px;
}

@media (min-width: 768px) {

    main {
        position: relative;
        min-height: 100vh;
        padding-bottom: 510px;
    }
}
